In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("202101-divvy-tripdata.csv")
df2 = pd.read_csv("202102-divvy-tripdata.csv")
df3 = pd.read_csv("202103-divvy-tripdata.csv")

In [3]:
cyclist = pd.concat([df1, df2, df3], ignore_index=True)
cyclist

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374947,9397BDD14798A1BA,docked_bike,2021-03-20 14:58:56,2021-03-20 17:22:47,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual
374948,BBBEB8D51AAD40DA,classic_bike,2021-03-02 11:35:10,2021-03-02 11:43:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member
374949,637FF754DA0BD9E1,classic_bike,2021-03-09 11:07:36,2021-03-09 11:49:11,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member
374950,F8F43A0B978A7A35,classic_bike,2021-03-01 18:11:57,2021-03-01 18:18:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member
374951,3AE64EA5BF43CF72,electric_bike,2021-03-26 17:58:14,2021-03-26 18:06:43,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member

In [4]:
cyclist['started_at'] = pd.to_datetime(cyclist['started_at'])
cyclist['ended_at'] = pd.to_datetime(cyclist['ended_at'])

In [5]:
cyclist['start_date'] = cyclist['started_at'].dt.date
cyclist['end_date'] = cyclist['ended_at'].dt.date

In [6]:
cyclist['start_time'] = cyclist['started_at'].dt.time
cyclist['end_time'] = cyclist['ended_at'].dt.time

In [7]:
cyclist

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,end_date,start_time,end_time
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member,2021-01-23,2021-01-23,16:14:19,16:24:44
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member,2021-01-27,2021-01-27,18:43:08,18:47:12
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member,2021-01-21,2021-01-21,22:35:54,22:37:14
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member,2021-01-07,2021-01-07,13:31:13,13:42:55
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual,2021-01-23,2021-01-23,02:24:02,02:24:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374947,9397BDD14798A1BA,docked_bike,2021-03-20 14:58:56,2021-03-20 17:22:47,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual,2021-03-20,2021-03-20,14:58:56,17:22:47
374948,BBBEB8D51AAD40DA,classic_bike,2021-03-02 11:35:10,2021-03-02 11:43:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,2021-03-02,2021-03-02,11:35:10,11:43:37
374949,637FF754DA0BD9E1,classic_bike,2021-03-09 11:07:36,2021-03-09 11:49:11,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member,2021-03-09,2021-03-09,11:07:36,11:49:11
374950,F8F43A0B978A7A35,classic_bike,2021-03-01 18:11:57,2021-03-01 18:18:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,2021-03-01,2021-03-01,18:11:57,18:18:37
374951,3AE64EA5BF43CF72,electric_bike,2021-03-26 17:58:14,2021-03-26 18:06:43,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member,2021-03-26,2021-03-26,17:58:14,18:06:43

In [15]:
missing_percent = cyclist['end_station_name'].isna().mean() * 100
print(f"Missing end station %: {missing_percent:.2f}%")

Missing end station %: 0.00%

In [14]:
cyclist['end_station_name'] = cyclist['end_station_name'].fillna("Unknown / Dockless")
cyclist['end_station_id'] = cyclist['end_station_id'].fillna("Unknown")

In [17]:
cyclist = cyclist.drop(columns=['started_at','ended_at'])

In [18]:
cyclist

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,end_date,start_time,end_time
0,E19E6F1B8D4C42ED,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900341,-87.696743,41.890000,-87.720000,member,2021-01-23,2021-01-23,16:14:19,16:24:44
1,DC88F20C2C55F27F,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900333,-87.696707,41.900000,-87.690000,member,2021-01-27,2021-01-27,18:43:08,18:47:12
2,EC45C94683FE3F27,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900313,-87.696643,41.900000,-87.700000,member,2021-01-21,2021-01-21,22:35:54,22:37:14
3,4FA453A75AE377DB,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900399,-87.696662,41.920000,-87.690000,member,2021-01-07,2021-01-07,13:31:13,13:42:55
4,BE5E8EB4E7263A0B,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900326,-87.696697,41.900000,-87.700000,casual,2021-01-23,2021-01-23,02:24:02,02:24:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376193,9397BDD14798A1BA,docked_bike,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual,2021-03-20,2021-03-20,14:58:56,17:22:47
376194,BBBEB8D51AAD40DA,classic_bike,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,2021-03-02,2021-03-02,11:35:10,11:43:37
376195,637FF754DA0BD9E1,classic_bike,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member,2021-03-09,2021-03-09,11:07:36,11:49:11
376196,F8F43A0B978A7A35,classic_bike,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,2021-03-01,2021-03-01,18:11:57,18:18:37
376197,3AE64EA5BF43CF72,electric_bike,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member,2021-03-26,2021-03-26,17:58:14,18:06:43

In [19]:
cyclist.to_csv('cyclist.csv')

In [2]:
cyc = pd.read_csv('cyclist.csv', sep=',')

In [3]:
cyc.columns

Index(['ride_id', 'rideable_type', 'start_station_name', 'start_station_id',
       'end_station_name', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual', 'start_date', 'end_date',
       'start_time', 'end_time'],
      dtype='object')

In [4]:
cyc

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,end_date,start_time,end_time
0,E19E6F1B8D4C42ED,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900341,-87.696743,41.890000,-87.720000,member,23-01-2021,23-01-2021,16:14:19,16:24:44
1,DC88F20C2C55F27F,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900333,-87.696707,41.900000,-87.690000,member,27-01-2021,27-01-2021,18:43:08,18:47:12
2,EC45C94683FE3F27,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900313,-87.696643,41.900000,-87.700000,member,21-01-2021,21-01-2021,22:35:54,22:37:14
3,4FA453A75AE377DB,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900399,-87.696662,41.920000,-87.690000,member,07-01-2021,07-01-2021,13:31:13,13:42:55
4,BE5E8EB4E7263A0B,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900326,-87.696697,41.900000,-87.700000,casual,23-01-2021,23-01-2021,02:24:02,02:24:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376193,9397BDD14798A1BA,docked_bike,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual,20-03-2021,20-03-2021,14:58:56,17:22:47
376194,BBBEB8D51AAD40DA,classic_bike,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,02-03-2021,02-03-2021,11:35:10,11:43:37
376195,637FF754DA0BD9E1,classic_bike,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member,09-03-2021,09-03-2021,11:07:36,11:49:11
376196,F8F43A0B978A7A35,classic_bike,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,01-03-2021,01-03-2021,18:11:57,18:18:37
376197,3AE64EA5BF43CF72,electric_bike,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member,26-03-2021,26-03-2021,17:58:14,18:06:43

In [5]:
cyc['start_date'] = pd.to_datetime(cyc['start_date'], dayfirst=True, errors='coerce')
cyc['end_date'] = pd.to_datetime(cyc['end_date'], dayfirst=True, errors='coerce')

In [6]:
cyc

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,end_date,start_time,end_time
0,E19E6F1B8D4C42ED,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900341,-87.696743,41.890000,-87.720000,member,2021-01-23,2021-01-23,16:14:19,16:24:44
1,DC88F20C2C55F27F,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900333,-87.696707,41.900000,-87.690000,member,2021-01-27,2021-01-27,18:43:08,18:47:12
2,EC45C94683FE3F27,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900313,-87.696643,41.900000,-87.700000,member,2021-01-21,2021-01-21,22:35:54,22:37:14
3,4FA453A75AE377DB,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900399,-87.696662,41.920000,-87.690000,member,2021-01-07,2021-01-07,13:31:13,13:42:55
4,BE5E8EB4E7263A0B,electric_bike,California Ave & Cortez St,17660,Unknown / Dockless,Unknown,41.900326,-87.696697,41.900000,-87.700000,casual,2021-01-23,2021-01-23,02:24:02,02:24:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376193,9397BDD14798A1BA,docked_bike,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual,2021-03-20,2021-03-20,14:58:56,17:22:47
376194,BBBEB8D51AAD40DA,classic_bike,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,2021-03-02,2021-03-02,11:35:10,11:43:37
376195,637FF754DA0BD9E1,classic_bike,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member,2021-03-09,2021-03-09,11:07:36,11:49:11
376196,F8F43A0B978A7A35,classic_bike,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,2021-03-01,2021-03-01,18:11:57,18:18:37
376197,3AE64EA5BF43CF72,electric_bike,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member,2021-03-26,2021-03-26,17:58:14,18:06:43

In [7]:
cyc.to_csv('cyclist.csv')